@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-Light.ttf) format("truetype");
  font-weight: lighter;
}

* {
  font-family: "Montserrat", sans-serif;
  color: rgb(66, 66, 66);
}

body {
  background-color: rgb(224, 225, 245);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  padding: 0;
  list-style: none;
}
h1,
h2 {
  text-align: center;
}
button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}
img {
  width: 100px;
  height: auto;
}
img:hover {
  transform: rotate(20deg) scale(1.2, 1.2);
}

.choices-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.choices {
  display: flex;
  justify-content: center;
  gap: 8%;
}
.choices button {
  padding: 0;
}

.results-container {
  visibility: hidden;
}
.results-container,
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
.results-container p {
  margin: 0;
}

.playAgain {
  visibility: hidden;
  text-align: center;
}
.playAgain button {
  background-color: darkslategrey;
  border-radius: 20px;
  padding: 1em 2em;
  color: white;
  font-size: medium;
  font-weight: bold;
  width: auto;
}
